<h1>Triangles<h2>

<p>Triangles are here!!!</p>

<% if %>
  <form action="/" method="post">
    <div class="form-group">
      <label for="album_name">Side one: </label>
      <input id="side_1" name="side_1" class="form-control" type="text" required>
      <label for="album_name">Side two: </label>
      <input id="side_2" name="side_2" class="form-control" type="text" required>
      <label for="album_name">Side three: </label>
      <input id="side_3" name="side_3" class="form-control" type="text" required>
    </div>
    <button type="submit" class="btn">Go!</button>
  </form>
<% end %>
